*.class
*.project
*.classpath
*.springBeans
*.settings
.gradle
*.mvn
**/target
**/node_modules
**/package-lock.json
**/mvnw
**/mvnw.cmd

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


**/.attach_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/tema3-rest/Spring/rest_ejem12/api-docs/.openapi-generator/
/tema3-rest/Spring/rest_ejem12/api-docs/.openapi-generator-ignore
